html, body{
    padding: 0px;
    margin: 0px;
}
nav.top-navigation{
    padding: 0px;
    margin: 0px;
    background-color: rgba(0,0,0,0.91);
    width: 100%;
}
nav .top-menu{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
nav .top-menu>.top-menu-item{
    display: inline-block;
    padding: 10px 15px;
    color: rgba(212,175,55,0.91);
}
nav .top-menu-item a, a:hover, a:visited, a:active{
    color: rgba(212,175,55,0.91);
    text-decoration: none;
}

nav .top-menu>.top-menu-item:hover{
    background-color: rgba(255,255,255, 0.1);
    cursor: pointer;
}
.test{
    height: 100px;
    width: 100%;
    background-color: red;
}
.page{
    padding: 15px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input {
    margin-top: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin button {
    margin-top: 10px;
}

.has-error {
    color: red
}